[submodule "quantum-tunnel"]
	path = quantum-tunnel
	url = https://github.com/ChorusOne/quantum-tunnel.git
[submodule "wormhole"]
	path = wormhole
	url = https://github.com/ChorusOne/wormhole.git
[submodule "gaia"]
	path = gaia
	url = https://github.com/ChorusOne/gaia.git
