[submodule "quantum-tunnel"]
	path = quantum-tunnel
	url = git@github.com:ChorusOne/quantum-tunnel.git
[submodule "wormhole"]
	path = wormhole
	url = git@github.com:ChorusOne/wormhole.git
[submodule "gaia"]
	path = gaia
	url = git@github.com:ChorusOne/gaia.git
